<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to Get Started?</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam totam
        quos veritatis quisquam accusantium saepe repudiandae exercitationem
        corrupti quas deserunt nulla neque eius, modi nesciunt.
      </p>
    </div>
    <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
  </div>
</div>
